{% extends 'base.html' %}
{% block content %}
<h1>{{ member.username }}'s Profile Page</h1>
<div>
    <h3>username: {{ member.username }}</h3>
    {% if member.image %}
    <img src="{{ member.image.url }}" alt="{{ member.image }}">
    {% endif %}
    {% if request.user != member %}
        <form action="{% url 'users:follow' member.pk %}" method="POST">
            {% csrf_token %}
            {% if request.user in member.followers.all %}
                <input type="submit" value="언팔로우">
            {% else %}
                <input type="submit" value="팔로우">
            {% endif %}
        </form>
    {% endif %}
    <p>
        팔로워 : {{ member.followers.count }}명
        팔로잉 : {{ member.following.count }}명
    </p>
</div>
<a href="/index/">홈으로 돌아가기</a>
{% endblock content %}