{% extends "base.html" %}

{% block content %}

<h1>Products</h1>
<a href="{% url 'products:create' %}">
    <button>작성하기</button>
</a>
<hr>
{% for product in products %}
    <form action="{% url "products:detail" product.pk %}" method="POST">
        {% csrf_token %}
        <a href="{% url "products:detail" product.pk %}">[ {{ product.pk }} ] {{ product.title }}</a>
    </form>
    <a href="">
        <p> 작성자: {{ product.author }}
        </a>
    <p> 조회수: {{ product.view_count }}
    <form action="{% url 'products:like' product.pk %}" method="POST">
        {% csrf_token %}
        {% if request.user in product.like_users.all %}
        <button class="btn btn-link text-danger">
            <i class="fa-solid fa-heart"></i>
        </button>
        {% else %}
        <button class="btn btn-link text-danger">
            <i class="fa-regular fa-heart"></i>
        </button>
        {% endif %}
    </form>
    
    <hr>
{% endfor %}

{% endblock content %}


