{% extends "base.html" %}

{% block content %}

<h1>Products</h1>
<a href="{% url "products:product_create" %}">
    <button>작성하기</button>
</a>
<hr>
{% for product in products %}
    <form action="{% url "products:detail" product.pk %}" method="POST">
        {% csrf_token %}
        <a href="{% url "products:detail" product.pk %}">[ {{ product.pk }} ] {{ product.title }}</a>
    </form>
    
        <p> 작성자: <a href="">{{ product.author }}    </a>
    
    <hr>
{% endfor %}

{% endblock content %}


