{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row mb-3">
        <h1 fw-bold>상품 검색</h1>
    </div>
    <div class="row mb-3">
        <form action="{% url 'products:search' %}" method="POST" class="d-flex" role="search">
            {% csrf_token %}
            <input class="form-control me-2" type="search" placeholder="검색어를 입력하세요" name="searched" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
    <div class="row mb-3">
        {% if not searched %}
            <p>검색 결과가 없습니다.</p>
        {% else %}
            <h4>'{{ searched }}' 검색 결과</h4>
            <br>
            {% for product in products %}
                <a href="{% url 'products:detail' product.pk %}">[ {{ product.pk }} ] {{ product.title }}</a>
                <a href="{% url "users:profile" product.author %}">
                    <p> 작성자: {{ product.author }}</p>
                    </a>
                <form action="{% url 'products:like' product.pk %}" method="POST">
                    {% csrf_token %}
                    {% if request.user in product.like_users.all %}
                    <button class="btn btn-link text-danger">
                        <i class="fa-solid fa-heart"></i>
                    </button>
                    {% else %}
                    <button class="btn btn-link text-danger">
                        <i class="fa-regular fa-heart"></i>
                    </button>
                    {% endif %}
                </form>
                <hr>
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock content %}
