{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href ="{% static "css/style.css" %}">
    <title>Document</title>

    {% block head %}{% endblock head %}
</head>
<body>

    <div class="navbar">
        {% if request.user.is_authenticated %}
            <div>
                <h3 class ="greeting">어서오세요, {{ request.user.username }}님</h3>
                <!-- request.user.image.url-->
                {% if not request.user.image %}
                    <img src="/media/images.jpg" style= "width: 50px; height: auto;" >
                {% else %}
                    <img src="{{ request.user.image.url }}" style= "width: 50px; height: auto;" >
                {% endif%}
            </div>

            <!-- 로그아웃, 회원정보 수정, 회원탈퇴 등의 링크 -->
            <form action="{% url 'accounts:logout' %}" method="POST">
                {% csrf_token %}
                <input type="submit" value="로그아웃">  
            </form>
            <a href="{% url 'accounts:update' %}">프로필 수정하기</a>
            <form action="{% url 'accounts:delete' %}" method="POST">
                {% csrf_token %}
                <input type="submit" value="회원탈퇴">
            </form>
        {% else %}
            <a href="{% url 'accounts:login' %}">로그인</a>
            <a href="{% url 'accounts:signup' %}">회원가입</a>
        {% endif %}
    </div>

    <div class="container">
        {% block content %}
        {% endblock content %}
    </div>
    
</body>
</html>